// ============================================================================
// Example {{name}} React Component
// Extends PiSdkComponent for Pi Network flows and UI.
// ============================================================================
import React from 'react';
Pimport PiSdkComponent from "pi-sdk-react/PiSdkComponent";

export default class {{name}} extends PiSdkComponent {
  constructor(props) {
    super(props);
    this.state = {
      connected: this.is_connected_to_pi()
      // add additional state here
    };
  }

  componentDidMount() {
    super.componentDidMount();
  }

  onConnection() {
    this.setState({ connected: this.is_connected_to_pi() });
  }

  render() {
    return (
      <button
        disabled={!this.state.connected}
        // onClick={() => { /* TODO: implement */ }}
      >{{name}}</button>
    );
  }
}
