/node_modules/

# Emacs temporary files
*~
\#*
*.elc

# macOS
.DS_Store

# Windows
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders/files
/.vscode
.idea

# test coverage
/coverage

# swap files
*.swp
*.swo
