# Ignore all temporary, build, and node_modules files
node_modules/
dist/# Emacs temporary files
*~
\#*
*.elc

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor folders/files
**/.vscode
.idea

# Vim temporary
*-E

# Rails apps for integration testing are not needed in the repo
rails/*_app
